**/venv/
**/.github/
**/.next/
**/.vscode/
htb/
vdp/
**/vpn.ovpn
**/__pycache__
**/.env
**/*.sql
**/.cache
sqlmapproject*/
tmp/
sqlmap.tar.gz
*_output.md
**/Dockerfile2
**entrypoint.sh
**/playwright/.auth/*
**/dist.tgz
