services:
  nordvpn:
    image: ghcr.io/bubuntux/nordvpn:latest
    container_name: nordvpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    env_file:
      - .env
    restart: unless-stopped
    # publish the app ports on the sidecar:
    ports:
      - "8000:8000"
      - "6200-6299:6200-6299"

  maya:
    image: 648618456143.dkr.ecr.ap-southeast-1.amazonaws.com/aipt/maya:latest
    container_name: maya
    restart: unless-stopped
    shm_size: "1g"
    env_file:
      - .env
    network_mode: "service:nordvpn"