
variables:
  ATLAS_IMAGE: registry.sgts.gitlab-dedicated.com/wog/gvt/dsaid-st/atlas/python/atlas/atlas-base
  ATLAS_USER: $ATLAS_REGISTRY_USER
  ATLAS_TOKEN: $ATLAS_REGISTRY_TOKEN
  COMPONENT_PATH: "aibots"

include:
  - local: '/templates/build-docker.yml'
  - local: '/templates/lint.yml'
  - local: '/templates/unittests.yml'

stages:
  - test
  - build
  - deploy

lint_job:
  stage: test
  image: python:3.11.8-slim-bookworm
  extends: .lint

unittests_job:
  stage: test
  image: python:3.11.8-slim-bookworm
  extends: .unittests

build_job:
  stage: build
  image: python:3.11.8-slim-bookworm
  before_script:
    - pip install poetry nox nox-poetry && export PATH="/tmp/.local/bin:$PATH"
  script:
    - nox --session build
  dependencies: []
  artifacts:
    name: "$CI_COMMIT_REF_NAME"
    paths:
      - $COMPONENT_PATH/dist/
    expire_in: 1 week
  needs:
    - lint_job
    - unittests_job

publish_job:
  stage: deploy
  image: python:3.11.8-slim-bookworm
  before_script:
    - pip install twine
  script:
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token 
        python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi $COMPONENT_PATH/dist/*
  needs:
    - build_job
  rules:
    - if: $CI_COMMIT_TAG
