openapi: 3.0.3

info:
  title: AIBots Full API
  description: This document describes the Full API interface for AIBots
  version: 1.0.0
  contact:
    name: Moonshot Team
    url: 'https://www.tech.gov.sg/capability-centre-dsaid'
    email: david_tw_lee@tech.gov.sg

servers:
  - url: 'https://aibots.gov.sg/v{major}.{minor}'
    description: Full server address hosted on cloud
    variables:
      major:
        enum:
          - "1"
        default: "1"
      minor:
        enum:
          - "0"
        default: "0"

tags:
  - name: Login
    description: API for logging in users and managing their profile information
  - name: Users
    description: API for managing users
  - name: Groups
    description: API for managing groups
  - name: SCIM
    description: SCIM compliant APIs
  - name: Access Controls
    description: API for managing authentication and authorisation access controls
  - name: API Keys
    description: API for managing API Keys
  - name: Trackers
    description: API for retrieving various resource counts e.g. LLM Tokens
  - name: Files
    description: API for uploading and managing files
  - name: Notifications
    description: API for managing notifications and supporting webhooks
  - name: Agents
    description: API for configuring and controlling Agents and their associated knowledge bases
  - name: Chats
    description: API for managing LLM Chat interactions
  - name: RAG
    description: API for managing and triggering RAG pipelines
  - name: Tools
    description: API for managing Tools
  - name: Schemas
    description: API for retrieving integrated AI components and their associated schemas
  - name: Internals
    description: API for AIBots Internal functionalities

paths:

  # Login
  # Functionality provided by Atlas-Christis
  '/sso/moonshot/logins':
    post:
      tags:
        - Login
      summary: Login via Moonshot SSO
      description: >-
        This API is part of the sutie of APIs that facilitate logins via SSO. 
        The endpoint is structured as such to allow different forms of SSO 
        integrations, with this being the primary form of integration for 
        all Moonshot products.
      operationId: login_moonshot_sso
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSOMoonshotLoginPOST"
      responses:
        '201':
          description: Successfully logged a user in via Moonshot SSO.
          headers:
            Authorization:
              schema:
                type: string
                format: jwt
              example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJEU0FJRCwgR292dGVjaCIsInN1YiI6IntcIm5hbWVcIjpcIkRhdmlkdHdsZWVcIixcImlkXCI6XCIwNGUwNTg5Ny0zYzYyLTUyYWEtODY0MC1jYTEyNjQ0MWU1MmNcIixcImVtYWlsXCI6XCJkYXZpZHR3bGVlQGRzYWlkLmdvdi5zZ1wiLFwibmV3X3VzZXJcIjpmYWxzZSxcInNjb3Blc1wiOltdfSIsImF1ZCI6IjA0ZTA1ODk3LTNjNjItNTJhYS04NjQwLWNhMTI2NDQxZTUyYyIsIm5iZiI6MTcwMzA2MDIwNSwiaWF0IjoxNzAzMDYwMjA1LCJleHAiOjE3MDMwNjc0MDUsImp0aSI6ImQxZDIzZTUwLTc3N2UtNDQ5OS1iNzFkLWQwZTE2ZGU2OTc4NSIsImF0X2hhc2giOiJKcDgtbGtCT3lzV1VNelBDbTNSNFNBIn0.i5HMBZHGuNVQggDSad8s1BlfYb7DUKzq1WRZalQ-xOc
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLogin'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  '/otp/emails':
    post:
      tags:
        - Login
      summary: Send an Email OTP
      description: >-
        This API is part of the suite of APIs that facilitates logins via 
        Email OTPs, to support users/agencies who do not have an SSO support 
        via an Active Directory. This endpoint issues an Email OTP that is 
        cached for a fixed duration, users will need to authenticate with the
        POST /otp/emails/login endpoint with the OTP and email users and a JWT 
        token will be issued. This JWT token should be used to access all features 
        associated with the product.
      operationId: create_email_otp
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OTPEmail'
      responses:
        '201':
          $ref: '#/components/responses/TriggeredResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Login
      summary: Retrieves all email OTPs
      description: >-
        This is an internal feature to allow developers to retrieve 
        all email OTPs that were created without having to check
        the database.
      operationId: get_email_otp
      responses:
        '201':
          $ref: '#/components/responses/TriggeredResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/otp/emails/logins':
    post:
      tags:
        - Login
      summary: Authenticate via Email OTP
      description: >-
        This API is part of the suite of APIs that facilitates logins via 
        Email OTPs, to support users/agencies who do not have an SSO support 
        via an Active Directory. This endpoint authenticates the Email OTP that
        was previously sent and responds with a JWT token in the Authentication
        header.
      operationId: login_email_otp
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OTPLogin'
      responses:
        '201':
          description: Successfully logged a user in via Email OTP.
          headers:
            Authorization:
              schema:
                type: string
                format: jwt
              example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJEU0FJRCwgR292dGVjaCIsInN1YiI6IntcIm5hbWVcIjpcIkRhdmlkdHdsZWVcIixcImlkXCI6XCIwNGUwNTg5Ny0zYzYyLTUyYWEtODY0MC1jYTEyNjQ0MWU1MmNcIixcImVtYWlsXCI6XCJkYXZpZHR3bGVlQGRzYWlkLmdvdi5zZ1wiLFwibmV3X3VzZXJcIjpmYWxzZSxcInNjb3Blc1wiOltdfSIsImF1ZCI6IjA0ZTA1ODk3LTNjNjItNTJhYS04NjQwLWNhMTI2NDQxZTUyYyIsIm5iZiI6MTcwMzA2MDIwNSwiaWF0IjoxNzAzMDYwMjA1LCJleHAiOjE3MDMwNjc0MDUsImp0aSI6ImQxZDIzZTUwLTc3N2UtNDQ5OS1iNzFkLWQwZTE2ZGU2OTc4NSIsImF0X2hhc2giOiJKcDgtbGtCT3lzV1VNelBDbTNSNFNBIn0.i5HMBZHGuNVQggDSad8s1BlfYb7DUKzq1WRZalQ-xOc
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLogin'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/logins':
    get:
      tags:
        - Login
      summary: Retrieve all users who are logged in
      description: >-
        This API retrieves all the users logged in and accessible 
        to the administrator, allowing them to manage and revoke 
        login access. This requires administrator privileges.
      operationId: get_logins
      responses:
        '200':
          description: Successfully retrieve online users
          content:
            application/json:
              schema:
                description: List of logged in users
                type: array
                items:
                  $ref: '#/components/schemas/UserLogin'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Login
      summary: Logs a User out
      description: >-
        Logs a user out of the system, invalidating his/her login token. 
        The user will have to reauthenticate with the system after this
        action. If an administrative user utilises the all query parameter,
        they all online users under their management will be log out.
      parameters:
        - description: Logs out all users
          name: all
          in: query
          schema:
            type: boolean
          required: false
      operationId: logout_users
      responses:
        '204':
          $ref: '#/components/responses/DeletedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /refresh:
    post:
      tags:
        - Login
      summary: Refreshes a User's JWT token
      description: >-
        This API regenerates or refreshes a User's JWT token prior to
        expiry. This operation has to be complete before the token has
        expired otherwise the user has to reauthenticate with the system.
      operationId: refresh_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
      responses:
        '201':
          description: Successfully refreshed a User's JWT token
          headers:
            Authorization:
              schema:
                type: string
                format: jwt
              example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJEU0FJRCwgR292dGVjaCIsInN1YiI6IntcIm5hbWVcIjpcIkRhdmlkdHdsZWVcIixcImlkXCI6XCIwNGUwNTg5Ny0zYzYyLTUyYWEtODY0MC1jYTEyNjQ0MWU1MmNcIixcImVtYWlsXCI6XCJkYXZpZHR3bGVlQGRzYWlkLmdvdi5zZ1wiLFwibmV3X3VzZXJcIjpmYWxzZSxcInNjb3Blc1wiOltdfSIsImF1ZCI6IjA0ZTA1ODk3LTNjNjItNTJhYS04NjQwLWNhMTI2NDQxZTUyYyIsIm5iZiI6MTcwMzA2MDIwNSwiaWF0IjoxNzAzMDYwMjA1LCJleHAiOjE3MDMwNjc0MDUsImp0aSI6ImQxZDIzZTUwLTc3N2UtNDQ5OS1iNzFkLWQwZTE2ZGU2OTc4NSIsImF0X2hhc2giOiJKcDgtbGtCT3lzV1VNelBDbTNSNFNBIn0.i5HMBZHGuNVQggDSad8s1BlfYb7DUKzq1WRZalQ-xOc
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLogin'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /queries/agencies:
    get:
      tags:
        - Login
      summary: Retrieve all authorised agencies
      description: >-
        This API allows users to retrieve all authorised agencies within
        the Authentication Profiles. The domains parameter allows users to
        retrieve agencies associated with specific domains.
      operationId: get_agencies
      parameters:
        - $ref: '#/components/parameters/IDListParam'  # Not implemented yet
        - name: domains
          description: Query agencies associated with domain
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: names
          description: Query agencies based on names
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: subgroups
          description: >-
            Indicates if subgroups i.e. groups without a domain code are
            to be included
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully retrieved all authorised Agencies
          content:
            application/json:
              schema:
                description: List of all authorised Agencies
                type: array
                items:
                  $ref: '#/components/schemas/Agency'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /queries/users:
    post:
      tags:
        - Login
      summary: Retrieve users via queries
      description: >-
        This API allows admin users to retrieve a list of users that they can
        manage. This will default to users within an agency. Non-admin users 
        can only utilise this endpoint with the IDs or Emails query.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserQueriesPOST'
      operationId: get_users_by_query
      responses:
        '200':
          description: Successfully retrieved Users
          content:
            application/json:
              schema:
                description: List of users retrieved
                type: array
                items:
                  $ref: '#/components/schemas/UserBrief'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/unverified:
    post:
      tags:
        - Login
      summary: Add unverified users
      description: >-
        This API allows users to add a list of unverified users to the system.
        Unverified users will receive an email notification prompting them to
        login with their email, whereby they will be verified. If a set of 
        users have already been added, whether verified or unverified, they 
        will be ignored and the post-creation state will reflect their current 
        status. Unverified users with a non-government domain e.g. gmail.com
        will be created with access blocked by default, administrative users
        will need to update their authentication permissions separately.
      operationId: create_unverified_users
      requestBody:
        content:
          application/json:
            schema:
              description: List of unverified user email addresses
              type: array
              items:
                type: string
                format: email
      responses:
        '201':
          description: Successfully created a list of unverified Users
          content:
            application/json:
              schema:
                description: List of unverified Users and their associated IDs
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: Unique ID of the user
                      type: string
                      format: uuid
                    email:
                      description: Email of the user
                      type: string
                      format: uuid
                    state:
                      enum:
                        - created
                        - exists
                        - verified
                      type: string
                      description: >-
                        Indicates the post-creation state
                        
                        created = Unverified user was created
                        exists = Unverified user already exists
                        verified = Verified user already exists
                  additionalProperties: true
                  required:
                    - id
                    - email
                    - state
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /profiles/{id}:
    parameters:
      - $ref: '#/components/parameters/IDParam'
    put:
      tags:
        - Login
      summary: Update user profile
      description: >-
        This API allows users to manage their own profile details.
      operationId: update_user_profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfilePUT'
      responses:
        '204':
          description: Successfully updated User Profile
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # API for managing users
  /users:
    post:
      tags:
        - Users
      summary: Creates a User
      description: >-
        Creates a SCIM User resource via POST (see section 3.3 of RFC 7644). 
        This includes all Atlas SCIM extentions that are available for users.
      operationId: create_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimUserPOST'
        required: true
      responses:
        201:
          $ref: '#/components/responses/CreatedResponse'
        400:
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        500:
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Users
      summary: Retrieves Users
      description: >-
        This enables users to query and retrieve User resources
      operationId: get_users
      responses:
        200:
          description: Successfully retrieved a list of Users
          content:
            application/json:
              schema:
                description: List of users
                type: array
                items:
                  $ref: '#/components/schemas/ScimUser'
                default: []
        400:
          $ref: '#/components/responses/ScimInvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
  '/users/{id}':
    parameters:
      - $ref: '#/components/parameters/ScimIDParam'
    put:
      tags:
        - Users
      summary: Updates a SCIM User
      description: >-
        Updates a User resource (see section 3.5.1 of RFC 7644) by replacing
        all the values provided in the payload
      operationId: update_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimUserPut'
        required: true
      responses:
        204:
          $ref: '#/components/responses/UpdatedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        400:
          $ref: '#/components/responses/InvalidParametersError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Users
      summary: Retrieves a SCIM User
      description: >-
        Retrieves a User resource by Id (see section 3.4.1 of RFC 7644).
      operationId: get_user
      responses:
        200:
          description: Successfully retrieved a SCIM user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Users
      summary: Deletes a User
      description: Only authorised users are able to deleted users
      operationId: delete_user
      responses:
        204:
          $ref: '#/components/responses/DeletedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        404:
          $ref: '#/components/responses/ScimNotFoundError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
  
  '/groups':
    post:
      tags:
        - Groups
      summary: Creates a SCIM Group
      description: >-
        Creates a SCIM Group resource via POST (see section 3.3 of RFC
        7644), includes all the Atlas extensions. Parent Groups must be 
        created prior to associating sub-groups. This set of endpoints 
        are for admin users to manage their agency details.
      operationId: create_group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimGroupPOST'
        required: true
      responses:
        201:
          $ref: '#/components/responses/CreatedResponse'
        400:
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        500:
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Groups
      summary: Retrieve SCIM Groups
      description: >-
        List and query SCIM Group resources (see section 3.4.2 of RFC 7644).
      operationId: get_groups
      responses:
        200:
          description: Successfully retrieved SCIM Groups
          content:
            application/json:
              schema:
                description: List of SCIM Groups
                type: array
                items:
                  $ref: '#/components/schemas/ScimGroup'
                default: []
        400:
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        500:
          $ref: '#/components/responses/InternalServerError'
  '/groups/{id}':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    put:
      tags:
        - Groups
      summary: Updates a SCIM Group
      description: >-
        Updates a SCIM Group resource (see section 3.5.1 of RFC 7644) by replacing
        all the values provided in the payload
      operationId: update_group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimGroupPUT'
        required: true
      responses:
        204:
          $ref: '#/components/responses/UpdatedResponse'
        400:
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Groups
      summary: Retrieves a SCIM Group
      description: >-
        Retrieves a SCIM Group resource (see section 3.4.1 of RFC 7644)
      operationId: get_group
      responses:
        200:
          description: Successfully retrieved a Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Groups
      summary: Deletes a SCIM Group
      description: >-
        Deletes a SCIM Group resource (see section 3.6 of RFC 7644). If the 
        Group contains sub-groups, this will return an error
      operationId: delete_group
      responses:
        204:
          $ref: '#/components/responses/DeletedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        404:
          $ref: '#/components/responses/NotFoundError'
        500:
          $ref: '#/components/responses/InternalServerError'
  '/groups/{id}/parents':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    put:
      tags:
        - Groups
      summary: Updates the parent of a specified group
      description: >-
        Allows administrative users to update the parent hierarchy of created groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupParentPUT'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/groups/{id}/children':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    put:
      tags:
        - Groups
      summary: Updates the children of the specified group
      description: >-
        Allows administrative users to update the child hierarchy of created groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupChildrenPUT'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/groups/{id}/members':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    get:
      tags:
        - Groups
      summary: Retrieves all users belonging to a Group
      description: >-
        Allows administrative users to retrieve a consolidated list of all
        users belonging to a Group and their corresponding sub-groups.
      responses:
        '200':
          description: Successfully retrieved all users belonging to a Group
          content:
            application/json:
              schema:
                description: List of users
                type: array
                items:
                  $ref: '#/components/schemas/UserBrief'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Access Controls
  # Functionality provided by Atlas-Christis
  '/scopes':
    post:
      tags:
        - Access Controls
      summary: Add new JWT scope strings to the application
      description: >-
        Allows superusers to add new JWT scope strings representing
        permission rules to the application, particularly if they want 
        to restrict access to new features. Superusers can add fields 
        and attributes to the existing set of resources, they can also 
        create new resources strings but these will be ignored unless 
        the resources are implemented in the system.
      operationId: create_scopes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopeList'
      responses:
        '201':
          description: Successfully added new scope
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Access Controls
      summary: Retrieve existing scope strings
      description: >-
        Allows superusers to retrieve all scope strings. If the condensed 
        query parameter is added, it returns the scope strings in the most 
        flexible representation possible.
      operationId: get_scopes
      parameters:
        - description: Returns the most flexible string representation of the scopes
          name: condensed
          in: query
          schema:
            type: boolean
          required: false
      responses:
        '200':
          description: Successfully retrieved all scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopeList'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Access Controls
      summary: Deletes existing scope strings
      description: >-
        Allows superusers to delete scope strings that they have added.
      operationId: delete_scopes
      parameters:
        - description: Scope strings to be deleted
          name: scopes
          in: query
          schema:
            $ref: '#/components/schemas/ScopeList'
          style: form
          explode: true
          required: true
      responses:
        '204':
          $ref: '#/components/responses/DeletedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '422':
          $ref: '#/components/responses/InvalidDeletionError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/scopes/representations/{format}':
    parameters:
      - description: Supported scope representation format
        name: format
        schema:
          enum:
            - casl
          type: string
          description: >-
            Supported scope representation format
            
            casl = scope set returned in casl format
            atlas = scope set returned in Atlas json format
        in: path
        required: true
    post:
      tags:
        - Access Controls
      summary: Retrieves a representation of the scope set in the specified format
      description: >-
        Retrieves a scope set representation in a format that is parsable by
        the calling system. Only 2 formats are supported at present, CASL
        for applying permissions in the FE and Atlas JSON format.
      operationId: get_scope_format
      requestBody:
        description: List of scope strings to be evaluated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopeList'
      responses:
        '200':
          description: Successfully retrieve a scope set representation
          content:
            application/json:
              schema:
                description: Supported scope representation formats
                type: object
                oneOf:
                  - description: CASL scope representation
                    type: object
                    additionalProperties: true
                  - description: Atlas Scope representation
                    type: array
                    items:
                      $ref: '#/components/schemas/Scope'
                    default: []
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/roles':
    post:
      tags:
        - Access Controls
      summary: Adds new role to the application
      description: >-
        Roles encapsulate the base set of permissions that a user has.
        This defines the features that the user has access to. If the 
        user attempts to utilise a feature that is not allowed in the 
        permission set, then a permission error will be raised. This
        set of APIs grant administrative users the permissions to 
        modify roles. If a user does not have the necessary permissions 
        to modify roles, a permission error will also be raised.
      operationId: create_role
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePOST'
      responses:
        '201':
          $ref: '#/components/responses/CreatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Access Controls
      summary: Retrieves all roles from the application
      description: >-
        Users will only be able to retrieve roles that they can modify. 
        If a user does not have the necessary permissions to retrieve 
        roles, a permission error will also be raised.
      operationId: get_roles
      responses:
        '200':
          description: Successfully retrieved all Roles from the application
          content:
            application/json:
              schema:
                description: List of Roles
                type: array
                items:
                  $ref: '#/components/schemas/Role'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/roles/{id}':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    post:
      tags:
        - Access Controls
      summary: Updates an existing Role
      description: >-
        Updates to the role will only take effect after users have logged
        out and logged in again. If a user does not have the necessary 
        permissions to modify roles, a permission error will be raised.
      operationId: update_role
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePUT'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Access Controls
      summary: Retrieves a Role
      description: >-
        Users will only be able to retrieve roles that they can modify. 
        Administrative users can use the DELETE /logins to 
        If a user does not have the necessary permissions to retrieve 
        roles, a permission error will be raised.
      operationId: get_role
      responses:
        '200':
          description: Successfully retrieved Role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Access Controls
      summary: Deletes a Role
      description: >-
        Administrative users will not be able to delete a role unless all
        users are logged out. They can use the DELETE /logins endpoint 
        force log out all users. If a user does not have the necessary 
        permissions to retrieve roles, a permission error will be raised.
      operationId: delete_role
      responses:
        '204':
          $ref: '#/components/responses/DeletedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/controls/authentications':
    put:
      tags:
        - Access Controls
      summary: Manage authentication access to the application
      description: >-
        Allows administrative users to manage authentication access to the
        application by specifying users and domains. Admin users will only
        be able to manage authentication access within their agency. Only 
        superadmins will be able to manage authentication access for all 
        users. Unspecified users/domains in the payload will be ignored.
        Updates will only be applied when user logs in or when their token
        expires if they are already logged in.
      operationId: update_authentication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationControlsPUT'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '422':
          $ref: '#/components/responses/InvalidUpdateError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Access Controls
      summary: List authentication access to the application
      description: >-
        Allows administrative users to view the authentication access of 
        all users and groups under their management.
      operationId: get_authentication
      responses:
        '200':
          description: Successfully retrieved authentication access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationControls'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /controls/authorizations:
    put:
      tags:
        - Access Controls
      summary: Adds authorization access to specific resources
      description: >-
        This API allows users to modify authorization access to specific 
        resources that they own. This functionality enables users with 
        the proper permissions e.g. admins and owners to add and remove 
        collaborators to/from their resources, as well as modify their
        roles. This set of permissions augment the general role-based 
        permissions that the user is already conferred. If the requesting 
        user does not have the appropriate permissions then an error will
        be raised. Only owners are able to transfer the ownership of the
        resources that they own to other users.
      operationId: update_authorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationControlsPUT'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '422':
          $ref: '#/components/responses/InvalidUpdateError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/permissions/all':
    get:
      tags:
        - Access Controls
      summary: Retrieves the global Permission Set
      description: >-
        This set of endpoints allow superusers to retrieve the set of items 
        globally available to all users. Superusers are also able to customise 
        the individual permissions to correct any issues that may arise in 
        terms of access controls.
      operationId: get_all_permissions
      responses:
        '200':
          description: Successfully retrieve Global Permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permissions'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Access Controls
      summary: Updates the global Permissions Set
      description: >-
        This set of endpoints allow superusers to correct any issues that may
        arise in terms of access controls to individual resources available to 
        all users
      operationId: update_all_permissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionsPUT'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/permissions/{type}/{id}':
    parameters:
      - name: type
        description: Type of item permissions
        in: path
        required: true
        schema:
          type: string
          enum:
            - user
            - group
            - api_key
          description: >-
            Supported Item types
            
            user = Item is a user
            group = Item is a group
            api_key = Item is an API Key
      - name: id
        description: ID of the item
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Access Controls
      summary: Retrieves the specified Item Permission Set
      description: >-
        This set of endpoints allow superusers to retrieve the individual 
        permissions associated with a given item. These items could be users, 
        groups and api_keys. This permissions set control access to individual
        resources that the item has been granted access to. Superusers are also
        able to customise the individual permissions to correct any issues that 
        may arise in terms of access controls.
      operationId: get_permissions
      responses:
        '200':
          description: Successfully retrieve Permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permissions'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Access Controls
      summary: Updates the specified Permissions Set
      description: >-
        This set of endpoints allow superusers to correct any issues that may
        arise in terms of access controls to the individual resources
      operationId: update_permissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionsPUT'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # API Keys
  # Functionality provided by Atlas-Christis
  '/apikeys':
    post:
      tags:
        - API Keys
      summary: Creates an API Key
      operationId: create_api_key
      description: >-
        Creates an API Key via POST. An API Key can be associated to either
        a SCIM user or a SCIM group via the id and type parameters. Only 
        superusers are able to create API Keys without the id or type parameters
        i.e. system-level API Keys
      parameters:
        - description: SCIM resource type to associate the API Key to
          name: type
          in: query
          schema:
            description: >-
              SCIM resources that can support API Key association
    
              user = SCIM users
              group = SCIM groups
            type: string
            enum:
              - user
              - group
          required: false
        - description: SCIM resource ID to associate the API Key to
          name: id
          in: query
          schema:
            type: string
            format: uuid
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyPOST'
        required: true
      responses:
        '201':
          description: Successfully created a API Key
          content:
            application/json:
              schema:
                description: API Key ID and its associated value
                type: object
                properties:
                  id:
                    description: ID of the API Key created
                    type: string
                    format: uuid
                  key:
                    description: API Key value
                    type: string
                required:
                  - id
                  - key
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/ScimInternalServerError'
    get:
      tags:
        - API Keys
      summary: Retrieve API Keys
      operationId: get_api_keys
      description: >-
        List all the API Key resources that the user is able to view.
      responses:
        '200':
          description: Successfully retrieved API Keys
          content:
            application/json:
              schema:
                description: List of API Keys
                type: array
                items:
                  $ref: '#/components/schemas/APIKey'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/apikeys/{id}':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    put:
      tags:
        - API Keys
      summary: Updates a API Key
      operationId: update_api_key
      description: >-
        Updates an API Key resource by replacing all the values provided in 
        the payload. If scope values are modified, changes will take place
        immediately.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyPUT'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - API Keys
      summary: Retrieves an API Key
      description: >-
        Retrieves an API Key, users are only able to retrieve API Keys that they
        can list.
      operationId: get_api_key
      responses:
        200:
          description: Successfully retrieved an API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        404:
          $ref: '#/components/responses/ScimNotFoundError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
    delete:
      tags:
        - API Keys
      summary: Deletes an API Key
      description: >-
        Deletes an API Key. This action is irreversible, if the API Key is 
        integrated into other services, these services will lose access to 
        AIBots capabilities.
      operationId: delete_api_key
      responses:
        '204':
          $ref: '#/components/responses/DeletedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # SCIM Resources
  # Functionality provided by Atlas-Christis
  # Adapted from GLUU SCIM resources
  # https://github.com/GluuFederation/scim/blob/master/scim-server/src/main/resources/gluu-scim-openapi.yaml
  '/scim/v2/Groups':
    post:
      tags:
        - SCIM
      summary: Creates a SCIM Group
      description: >-
        Creates a SCIM Group resource via POST (see section 3.3 of RFC
        7644), includes all the Atlas extensions. Parent Groups must be 
        created prior to associating sub-groups.
      operationId: create_scim_group
      parameters:
        - $ref: '#/components/parameters/ScimAttributesParam'
        - $ref: '#/components/parameters/ScimExcludedAttributesParam'
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/ScimGroup'
          application/json:
            schema:
              $ref: '#/components/schemas/ScimGroup'
        required: true
      responses:
        201:
          description: Successfully created a SCIM Group
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
        400:
          $ref: '#/components/responses/ScimInvalidPayloadError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        409:
          $ref: '#/components/responses/ScimDuplicateEntryError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
    get:
      tags:
        - SCIM
      summary: Retrieve SCIM Groups
      description: >-
        List and query SCIM Group resources (see section 3.4.2 of RFC 7644)
        with pagination
      operationId: get_scim_groups
      parameters:
        - $ref: '#/components/parameters/ScimAttributesParam'
        - $ref: '#/components/parameters/ScimExcludedAttributesParam'
        - $ref: '#/components/parameters/ScimFilterParam'
        - $ref: '#/components/parameters/ScimStartIndexParam'
        - $ref: '#/components/parameters/ScimCountParam'
        - $ref: '#/components/parameters/ScimSortByParam'
        - $ref: '#/components/parameters/ScimSortOrderParam'
      responses:
        200:
          description: Successfully retrieved SCIM Groups
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimGroupListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroupListResponse'
        400:
          $ref: '#/components/responses/ScimInvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
  '/scim/v2/Groups/{id}':
    parameters:
      - $ref: '#/components/parameters/ScimIDParam'
    put:
      tags:
        - SCIM
      summary: Updates a SCIM Group
      description: >-
        Updates a SCIM Group resource (see section 3.5.1 of RFC 7644) by replacing
        all the values provided in the payload
      operationId: update_scim_group
      parameters:
        - $ref: '#/components/parameters/ScimAttributesParam'
        - $ref: '#/components/parameters/ScimExcludedAttributesParam'
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/ScimGroup'
          application/json:
            schema:
              $ref: '#/components/schemas/ScimGroup'
        required: true
      responses:
        200:
          description: Successfully updated a SCIM Group
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
        400:
          $ref: '#/components/responses/ScimInvalidPayloadError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        404:
          $ref: '#/components/responses/ScimNotFoundError'
        409:
          $ref: '#/components/responses/ScimDuplicateEntryError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
    get:
      tags:
        - SCIM
      summary: Retrieves a SCIM Group
      description: >-
        Retrieves a SCIM Group resource (see section 3.4.1 of RFC 7644)
      operationId: get_scim_group
      parameters:
        - $ref: '#/components/parameters/ScimAttributesParam'
        - $ref: '#/components/parameters/ScimExcludedAttributesParam'
      responses:
        200:
          description: Successful operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
        404:
          $ref: '#/components/responses/ScimNotFoundError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
    delete:
      tags:
        - SCIM
      summary: Deletes a SCIM Group
      description: >-
        Deletes a SCIM Group resource (see section 3.6 of RFC 7644). If the 
        Group contains sub-groups, this will return an error
      operationId: delete_scim_group
      responses:
        204:
          $ref: '#/components/responses/DeletedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        404:
          $ref: '#/components/responses/ScimNotFoundError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
  '/scim/v2/Users':
    post:
      tags:
        - SCIM
      summary: Creates a SCIM User
      description: >-
        Creates a SCIM User resource via POST (see section 3.3 of RFC 7644). 
        This includes all Atlas SCIM extentions that are available for users.
      operationId: create_scim_user
      parameters:
        - $ref: '#/components/parameters/ScimAttributesParam'
        - $ref: '#/components/parameters/ScimExcludedAttributesParam'
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/ScimUser'
          application/json:
            schema:
              $ref: '#/components/schemas/ScimUser'
        required: true
      responses:
        201:
          description: Successfully created a SCIM User
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimUser'
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
        400:
          $ref: '#/components/responses/ScimInvalidPayloadError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        409:
          $ref: '#/components/responses/ScimDuplicateEntryError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
    get:
      tags:
        - SCIM
      summary: Retrieves SCIM Users
      description: >-
        Lists and Query SCIM User resources (see section 3.4.2 of RFC 7644). This 
        enables users to query and retrieve User resources, returning the inputs
        as a paginated list
      operationId: get_scim_users
      parameters:
        - $ref: '#/components/parameters/ScimAttributesParam'
        - $ref: '#/components/parameters/ScimExcludedAttributesParam'
        - $ref: '#/components/parameters/ScimFilterParam'
        - $ref: '#/components/parameters/ScimStartIndexParam'
        - $ref: '#/components/parameters/ScimCountParam'
        - $ref: '#/components/parameters/ScimSortByParam'
        - $ref: '#/components/parameters/ScimSortOrderParam'
      responses:
        200:
          description: Successful operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimUserListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUserListResponse'
        400:
          $ref: '#/components/responses/ScimInvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
  '/scim/v2/Users/{id}':
    parameters:
      - $ref: '#/components/parameters/ScimIDParam'
    put:
      tags:
        - SCIM
      summary: Updates a SCIM User
      description: >-
        Updates a User resource (see section 3.5.1 of RFC 7644) by replacing
        all the values provided in the payload
      operationId: update_scim_user
      parameters:
        - $ref: '#/components/parameters/ScimAttributesParam'
        - $ref: '#/components/parameters/ScimExcludedAttributesParam'
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/ScimUser'
          application/json:
            schema:
              $ref: '#/components/schemas/ScimUser'
        required: true
      responses:
        200:
          description: Successfully modified a SCIM User
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimUser'
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        400:
          $ref: '#/components/responses/ScimInvalidPayloadError'
        404:
          $ref: '#/components/responses/ScimNotFoundError'
        409:
          $ref: '#/components/responses/ScimDuplicateEntryError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
    get:
      tags:
        - SCIM
      summary: Retrieves a SCIM User
      description: >-
        Retrieves a User resource by Id (see section 3.4.1 of RFC 7644).
      operationId: get_scim_user
      parameters:
        - $ref: '#/components/parameters/ScimAttributesParam'
        - $ref: '#/components/parameters/ScimExcludedAttributesParam'
      responses:
        200:
          description: Successfully retrieved a SCIM user
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimUser'
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        404:
          $ref: '#/components/responses/ScimNotFoundError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'
    delete:
      tags:
        - SCIM
      summary: Deletes a SCIM User
      description: Only authorised users are able to deleted users
      operationId: delete_scim_user
      responses:
        204:
          $ref: '#/components/responses/DeletedResponse'
        404:
          $ref: '#/components/responses/ScimNotFoundError'
        500:
          $ref: '#/components/responses/ScimInternalServerError'

  # Schema APIs
  /schemas/ai/llms:
    get:
      tags:
        - Schemas
      summary: Retrieves supported AI Models
      description: |-
        This endpoint allows users to retrieve all supported AI Models
      operationId: get_ai_models
      parameters:
        - name: type
          description: Types of models to be retrieved
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AIModelType'
      responses:
        '200':
          description: Successfully retrieved all supported AI Models
          content:
            application/json:
              schema:
                description: List of supported AI Models
                type: array
                items:
                  $ref: '#/components/schemas/AIModelID'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /schemas/ai/llms/{llm_id}:
    parameters:
      - description: LLM Model ID
        name: llm_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/AIModelID'
    get:
      tags:
        - Schemas
      summary: Retrieve a supported AI Model
      description: Retrieves full details of a supported AI Model
      operationId: get_ai_model
      responses:
        '200':
          description: Successfully retrieved AI Model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIModel'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /definitions/agents:
    get:
      tags:
        - Schemas
      summary: Default settings form parameters for AI Agents
      description: >-
        Retrieves the default form parameters available for configuring AI 
        Agents
      operationId: get_agent_definitions
      responses:
        '200':
          description: Successfully retrieved Agent settings
          content:
            application/json:
              schema:
                description: Default Agent settings definitions
                type: array
                items:
                  $ref: '#/components/schemas/AtlasParam'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Agent APIs
  /agents:
    post:
      tags:
        - Agents
      summary: Creates a new Agent
      description: |-
        An Agent encapsulates various forms of interacting with a Large Language 
        Model (LLM), this could be as diverse as interacting with an image 
        generation model (multi-modal Chat Agent), to performing question and 
        answer on a specified knowledge base (RAG Agent), to performing actions
        on a user's behalf (AI Agent). An Agent can then be served out for other 
        users to interact with it. Agent are highly configurable, this provides 
        Agent creators with the flexibility to serve out Agents that address the 
        needs of their target audience. Agent access can be restricted to 
        different individuals or organisations/groups. They can be cloned with 
        the entire Agent configuration and customised according to their needs. 
        This API call creates a new Agent configuration that structures the 
        interaction.
      operationId: create_agent
      requestBody:
        description: Configuration of Agent to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPOST'
      responses:
        '201':
          $ref: '#/components/responses/CreatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Agents
      summary: Retrieves all Agents visible to the user
      description: >-
        Returns a list of all Agents that the user is permitted to view and 
        invoke. Supports various query parameters for retrieving public and 
        shared Agents.
      operationId: get_agents
      parameters:
        - $ref: '#/components/parameters/IDListParam'
        - name: featured
          description: Retrive all featured Agents
          in: query
          required: false
          schema:
            type: boolean
        - name: public
          description: Retrieve all Agents available to the WOG
          in: query
          required: false
          schema:
            type: boolean
        - name: owner
          description: Retrieve all Agents that the user owns
          in: query
          required: false
          schema:
            type: boolean
        - name: admin
          description: Retrieve all Agents that the user can edit/manage
          in: query
          required: false
          schema:
            type: boolean
        - name: shared
          description: Retrieve all Agents shared with the user
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully retrieved Agents
          content:
            application/json:
              schema:
                description: List of Agents
                type: array
                items:
                  $ref: '#/components/schemas/Agent'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /agents/clones:
    post:
      tags:
        - Agents
      summary: Clones a new Agent
      description: |-
        This API call clones a new Agent from an existing Agent configuration.
        It also provides inputs to override existing Agent configuration values.
        When an Agent is cloned, the existing Knowledge Bases will be duplicated,
        including the underlying files. Additional Knowledge Bases can be added
        during the cloning step via the body, however the files must be uploaded
        beforehand.
      operationId: clone_agent
      parameters:
        - description: Denotes the original Agent ID that the configuration is being cloned from
          name: clone
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - description: Triggers the RAG pipeline to generate embeddings for the new Agent
          name: trigger
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        description: Configuration of Agent to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPOST'
      responses:
        '201':
          $ref: '#/components/responses/CreatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/counts':
    get:
      tags:
        - Agents
      summary: Retrieves the count of all Agents visible to the user
      description: >-
        Returns a count of all Agents visible to the user.
      operationId: get_agent_counts
      responses:
        '200':
          description: Successfully retrieved Agent count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCount'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/all':
    get:
      tags:
        - Agents
      summary: Retrieves all Agents
      description: >-
        Returns all Agents created, the deleted query parameter can be used to
        include those deleted. This API endpoint can only be utilised by 
        superusers.
      operationId: get_all_agents
      responses:
        '200':
          description: Successfully retrieved all Agents
          content:
            application/json:
              schema:
                description: List of all Agents
                type: array
                items:
                  $ref: '#/components/schemas/AgentBrief'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/{id}':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    put:
      tags:
        - Agents
      summary: Updates the core configuration of an existing Agent
      description: |-
        This API enables the user to update the main configuration of an 
        existing Agent.
      operationId: update_agent
      requestBody:
        description: Configuration of Agent to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPUT'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Agents
      summary: Retrieves the configuration of an existing Agent
      description: Retrieves an existing Agent
      operationId: get_agent
      responses:
        '200':
          description: Successfully retrieved Agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Agents
      summary: Deletes an existing Agent configuration
      description: |-
        Includes the knowledgeBase boolean flag to delete the Knowledge Base 
        associated with the Agent. If the Knowledge Base is shared by other Agents,
        then the files boolean flag will not apply. A push notification will be
        sent upon completion.
      operationId: delete_agent
      parameters:
        - description: Deletes all files associated with the Knowledge Bases
          name: files
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '202':
          description: |-
            Successfully deleted Agent and associated Knowledge Base will be 
            cleared as a background task with a push notification sent.
        '204':
          $ref: '#/components/responses/DeletedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/InvalidDeletionError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/{id}/knowledge/bases':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    post:
      tags:
        - Agents
      summary: Adds a set of Knowledge Bases to the Agent
      description: |-
        A Knowledge Base is a representation of data that has been imported 
        from a supported data source, with embeddings generated on the data.
        It can import data from multiple sources such as textual content, 
        documents, websites and images. The creation of a Knowledge Base 
        is a 2-step process, first the Knowledge Base is created and the 
        pipeline is triggered via the POST /rag/{id}/pipelines to generate the 
        embeddings. If the RAG pipeline for the Knowledge Base was executed
        successfully, the updated pipeline metadata will be recorded in the 
        Knowledge Base.
      operationId: create_knowledge_base
      requestBody:
        description: List of Knowledge Bases to be created
        required: true
        content:
          application/json:
            schema:
              description: List of Knowledge Bases to be created
              type: array
              items:
                $ref: '#/components/schemas/DataSource'
      responses:
        '201':
          description: Successfully created a List of Knowledge Bases
          content:
            application/json:
              schema:
                description: List of Knowledge Bases
                type: array
                items:
                  $ref: '#/components/schemas/KnowledgeBase'
                minItems: 1
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Agents
      summary: Retrieves all Knowledge Bases associated with the Agent
      description: |-
        Returns a list of all Knowledge Bases associated with the Agent
      operationId: get_knowledge_bases
      parameters:
        - description: Retrieve Knowledge Bases associated with the following Agents
          name: agents
          in: query
          schema:
            description: List of Agent IDs
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: true
      responses:
        '200':
          description: Successfully retrieved all Knowledge Bases belonging to an Agent
          content:
            application/json:
              schema:
                description: List of Knowledge Bases
                type: array
                items:
                  $ref: '#/components/schemas/KnowledgeBase'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Agents
      summary: Deletes all specified Knowledge Bases associated with the Agent
      description: >-
        This call deletes the specified Knowledge Bases associated with the 
        Agent. It also irreversibly clears all the embeddings in those specified
        Knowledge Bases. An additional files query parameter enables the user to
        delete the files associated with the knowledge base.
      operationId: delete_knowledge_bases
      parameters:
        - $ref: '#/components/parameters/IDListParam'
        - description: Deletes all files associated with the Knowledge Bases
          name: files
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '204':
          $ref: '#/components/responses/DeletedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/{id}/knowledge/bases/{secondary_id}/statuses':
    parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/SecondaryIDParam'
    put:
      tags:
        - Agents
      summary: Updates the current state of embeddings generated
      description: >-
        This API enables the user to update the Knowledge Base embeddings for 
        a given RAG config. The secondary_id parameter is the ID of the 
        KnowledgeBase while the ragConfig paramter indicates the RAGConfig ID
        to be updated
      operationId: update_embeddings
      parameters:
        - description: ID of the RAG Config to be updated
          name: ragConfig
          required: true
          schema:
            type: string
            format: uuid
          in: query
      requestBody:
        description: Current state of embeddings
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/State'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/{id}/rags':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    post:
      tags:
        - Agents
      summary: Adds new RAG pipeline configurations to an existing Agent
      description: >-
        This API enables the user to add the RAG pipeline configurations based
        on the supported RAG pipelines available. Users are able to add and 
        remove mutiple pipelines. After adding new RAG pipeline configurations, 
        users will need to trigger the new pipelines using the POST 
        /rags/{id}/pipelines endpoint to generate embeddings. As each Agent can 
        support multiple pipelines, these pipelines will be queried in the order
        provided and function as failovers in the event that one RAG service 
        goes down. There are several approaches to switching pipelines:
        
          1. By failing over. The failover feature also enables users to switch 
             pipelines by first adding a new pipeline before the existing one 
             and triggering it. While the new pipeline is running, the existing 
             queries will fail over to the existing one, allowing the Agent to 
             maintain functionality. When the new pipeline is complete, queries 
             will automatically be served from the new pipeline as it is 
             triggered first. The old pipeline can be cleared subsequently.
          2. In sequential order. As pipelines are queried in sequential order, 
             a user can add a new pipeline configuration after the current and 
             trigger it to run. However, the user must explicitly clear the 
             original pipeline in order to perform the switch.
      operationId: create_rag_configs
      requestBody:
        description: RAG pipeline configuration to be added
        required: true
        content:
          application/json:
            schema:
              description: List of supported RAG pipelines
              type: array
              items:
                $ref: '#/components/schemas/RAGConfig'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Agents
      summary: Retrieves all RAG pipeline configurations associated with the Agent
      description: |-
        Returns a list of all RAG pipeline configurations associated with the Agent
      operationId: get_rag_configs
      responses:
        '200':
          description: Successfully retrieved all RAG pipeline configurations belonging to an Agent
          content:
            application/json:
              schema:
                description: List of RAG pipeline configurations
                type: array
                items:
                  $ref: '#/components/schemas/RAGConfig'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Agents
      summary: Deletes existing RAG pipeline configurations from an existing Agent
      description: >-
        This API enables the user to delete existing RAG pipeline configurations.
        When a RAG pipeline configuration is deleted, embeddings generated from
        the associated RAG pipeline are cleared.
      operationId: delete_rag_configs
      parameters:
        - $ref: '#/components/parameters/IDListParam'
      responses:
        '204':
          $ref: '#/components/responses/DeletedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/{id}/rags/{secondary_id}/statuses':
    parameters:
      - $ref: '#/components/parameters/IDParam'
      - $ref: '#/components/parameters/SecondaryIDParam'
    put:
      tags:
        - Agents
      summary: Updates the current state of the RAG config
      description: >-
        This API enables the user to update the RAG config state
      operationId: update_rag_config
      requestBody:
        description: Current state of the RAG config
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/State'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/{id}/sharing':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    put:
      tags:
        - Agents
      summary: Updates the Agent's sharing details
      description: >-
        This API enables the user to update the Agent's sharing details, namely
        the url slug that is used to uniquely identify the Agent. If the slug 
        has already been taken, an error will be returned.
      operationId: update_agent_sharing
      requestBody:
        description: Agent's sharing details to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentSharingPUT'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/DuplicateEntryError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/{id}/default/pipelines':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    put:
      tags:
        - Agents
      summary: Updates the default RAG pipeline of an existing Agent
      description: >-
        This API enables the user to update the default RAG pipeline, setting
        the default RAG pipeline value to null will remove this functionality.
        Users are able to set a default pipeline to override the sequential 
        querying order. This default pipeline will always be triggered and the 
        failover logic will be ignored even if multiple pipelines are configured 
        and embeddings generated. This allows users to test new pipelines 
        while maintaining the older pipeline configuration to serve production. 
        After testing is complete, users can delete the older pipeline 
        configurations.
      operationId: update_agent_default_pipeline
      requestBody:
        description: Default RAG pipeline to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRAGPipelinesPUT'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/{id}/ownership':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    put:
      tags:
        - Agents
      summary: Updates the ownership details of an existing Agent
      description: |-
        This API enables the user to update the ownership details of the Agent
      operationId: update_agent_ownership
      requestBody:
        description: Ownership details to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ownership'
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/approvals':
    get:
      tags:
        - Agents
      summary: Retrieve all approval details for processing
      description: >-
        This is administrative feature for superusers to view all approvals
        that have been created. Supports querying by ID via the ids query 
        parameter.
      operationId: get_approvals
      parameters:
        - $ref: '#/components/parameters/IDListParam'
        - description: Indicates that all pending Agent Approvals will be returned
          name: pending
          in: query
          required: false
          schema:
            type: boolean
        - description: Indicates that approved Agents will be returned
          name: approved
          in: query
          required: false
          schema:
            type: boolean
        - description: Indicates that rejected Agents will be returned
          name: rejected
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully retrieved all approvals
          content:
            application/json:
              schema:
                description: List of all approvals
                type: array
                items:
                  $ref: '#/components/schemas/AgentApproval'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/approvals/{id}':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    post:
      tags:
        - Agents
      summary: Submit approval details for processing
      description: >-
        Before the Agent is able to be published, it needs to be approved. This 
        set of endpoints models the Approval workflow, wherein an 
        email/notification is sent to the approver. Thereafter the Approver 
        must make a PUT API call to the /agents/approvals/{id} endpoint to 
        approve the request.
      operationId: create_approval
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/approvals/{id}/approves':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    post:
      tags:
        - Agents
      summary: Approve Agent for release
      description: >-
        Only superusers or the approver specified is able to make a call 
        to this endpoint. After an Agent is in production, only then can they 
        set the visibility status of the Agent to wog or public.
      operationId: approve_approval
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentApprovalPUT"
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/agents/approvals/{id}/rejects':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    post:
      tags:
        - Agents
      summary: Rejects an Agent release Approval
      description: >-
        Only superusers or the approver specified is able to make a call 
        to this endpoint. If the Agent is already in production status, then
        we will need to revoke the production status and set the visibility
        status of the Agent back to private.
      operationId: reject_approval
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentApprovalPUT"
      responses:
        '204':
          $ref: '#/components/responses/UpdatedResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # File Uploads
  # Functionality provided by atlas-archeía
  # TODO: API to manage folders and download multiple files
  '/files':
    post:
      tags:
        - Files
      summary: Upload files to CMS
      description: >-
        This set of endpoints provides headless-CMS functionality to upload
        files. This is a generic set of endpoints for users to upload data 
        and associated metadata e.g. HTML sources, that can be utilised in 
        other parts of the system. The files can be organised and queried
        via folders. Only files that were successfully uploaded are returned.
        File versioning defaults to autoincrementing integers appended to the 
        filename, if users have more complex versioning requirements, the 
        version parameter is provided for the user to specify their own 
        versions. If two files with the same folder, file name and version are 
        uploaded, a duplicate error will be raised.
      operationId: upload_files
      requestBody:
        description: Files to be uploaded
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  description: Files to be uploaded
                  type: array
                  items:
                    type: string
                    format: binary
                details:
                  description: >-
                    Additional details associated with the files, this is a
                    dictionary with the filename as details as values in the
                    stipulated structure below.
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/FilePOST'
                  default: {}
              required:
                - files
            encoding:
              files:
                contentType: application/octet-stream, image/png, image/jpeg
            examples:
              html:
                description: HTML content uploaded
                value:
                  files:
                    - >-
                      <html></html>
                  details:
                    filename.html:
                      metadata:
                        type: tab
                        name: appraiserApplicationMainTab
              video:
                description: Video content uploaded
                value:
                  files:
                    - "videobytes"
                  details:
                    videofilename.mp4:
                      metadata:
                        type: video
              image:
                description: Thumbnail content uploaded
                value:
                  files:
                    - "imagebytes"
                  details:
                    videoimage.mp4:
                      metadata:
                        type: image
                        imageType: thumbnail
      responses:
        '201':
          description: Successfully created a list of Files
          content:
            application/json:
              schema:
                description: List of File details created
                type: array
                items:
                  $ref: '#/components/schemas/File'
                default: []
        '400':
          $ref: '#/components/responses/InvalidParametersError'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '409':
          $ref: '#/components/responses/DuplicateEntryError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Files
      summary: Downloads files owned by the requesting User
      description: >-
        Retrieves a zipped folder containing a list of all files owned by 
        the requesting User. Users are able to specify the files that they wish
        to download via the ids, files and folders query parameters. Users are
        also able to select specific version of the files that they wish to
        download via the names parameters.
      parameters:
        - $ref: '#/components/parameters/IDListParam'
        - description: Retrieve all files within specified folders
          name: folders
          in: query
          schema:
            type: string
          required: false
        - description: Retrieve specified files according to their versioned name
          name: files
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Successfully retrieved a list of files
          content:
            application/json:
              schema:
                description: List of files retrieved
                type: array
                items:
                  $ref: '#/components/schemas/File'
                default: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          $ref: '#/components/responses/PermissionsError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/files/{id}':
    parameters:
      - $ref: '#/components/parameters/IDParam'
    get:
      tags:
        - Files
      summary: Downloads a specific file
      description: >-
        Retrieves a specific file associated with the item. Users can
[...]
