boto3==1.34.44
chromadb==0.5.0
langchain==0.1.17
langchain-community==0.0.38
langchain-experimental==0.0.58
langchain-openai==0.1.6
langchain-text-splitters==0.0.1
numpy==1.24.1
openai==1.26.0
opencv-python==4.6.0.66
openpyxl==3.1.2
opensearch-py==2.5.0
pandas==2.0.3
#paddleocr==2.7.3
pillow-heif==0.16.0
pdf2image==1.17.0
pdfminer.six==20231228
python-docx==1.1.2
python-pptx==0.6.23
python-dotenv==1.0.0
#pytesseract==0.3.10
umap-learn==0.5.6
unstructured==0.13.6
unstructured-inference==0.7.31
unstructured.pytesseract==0.3.12
streamlit==1.31.0
transformers==4.40.2